
<nav class="container ">
  <p-sidebar class="fundo" [(visible)]="visibleSidebar1">


    <div class="page-wrapper chiller-theme">
      <nav id="sidebar" class="sidebar-wrapper ">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn">

        </button>
      </div>
      <div class="sidebar-content">
          <div class="sidebar-brand">
           <a href="#">IASD</a>
        </div>

        <div class="sidebar-header">
            <img class="img-responsive" src="assets/images/IASD.png" width="60%" height="60%">
        </div>



        <div class="sidebar-menu">
            <ul class="list-unstyled components">

           <li class="active">
             <a href="#" class="dashboard">
             <i class="fas fa-tachometer-alt"></i>
               <span>Dashboard</span>

             </a>
           </li>
           <li class="dropdown">
             <a href="#home1" class="dropdown-toggle" data-toggle="collapse"
             aria-expanded="false">
             <i class="pi pi-user icone"></i>
               <span>Discipulado</span>
             </a>
             <ul class="collapse list-unstyled menu" id="home1">
                <li><a routerLink="/discipulos">Lista de Discipulado
           <!--<span class="badge badge-pill badge-success">Pro</span> -->
              </a>
              </li>
              <li><a routerLink="/discipulo/novo">Cadastro de Discipulado</a></li>
              <li><a href="#"></a></li>
             </ul>
           </li>

            <li class="dropdown">
             <a href="#home2" class="dropdown-toggle" data-toggle="collapse"
             aria-expanded="false">
             <i class="pi pi-user icone"></i>

               <span>Discipulador</span>
             </a>
             <ul class="collapse list-unstyled menu" id="home2">
                <li><a href="#">Lista de Discipulador</a></li>
                <li><a href="#">Cadastro de Discipulador</a></li>
             </ul>
           </li>
          </ul>
        </div>



      </div>
      <div class="sidebar-footer">
          <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
        </a>
         <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
        </a>
         <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
        </a>
        <a href="#">
        <i class="fa fa-power-off"></i>
        </a>
      </div>
    </nav>
  </div>


  </p-sidebar>
  <p-button type="button" (click)="visibleSidebar1 = true" >Menu</p-button>
</nav>

