<nav class="container">
  <div class="sidebar close">
    <div class="logo-details">
      <i class="pi pi-list"></i>
      <span class="logo_name">
        <img class="img-responsive" src="assets/images/IASD.png" width="60%" height="60%">
      </span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="">
          <span class="link_name">
            <i class="pi pi-th-large icone"></i>DashBoard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a href="" class="link_name">Cadastro de Discipulos</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="">
            <span class="link_name">
              <i class="pi pi-user icone"></i>
              Cadastro de Discipulos</span>
            <i class="pi pi-chevron-down"></i>
           </a>
           <ul class="sub-menu">
            <li><a href="" class="link_name">Cadastro de Discipulos</a></li>
            <li><a href="">Lista de Discipulos</a></li>
            <li><a href="">Editar Discipulo</a></li>
          </ul>
         </div>
      </li>
      <li>
        <div class="iocn-link">
          <a href="">
            <span class="link_name">
              <i class="pi pi-user icone"></i>
              Cadastro de Discipulado</span>
            <i class="pi pi-chevron-down"></i>
           </a>
           <ul class="sub-menu">
            <li><a href="" class="link_name">Cadastro de Discipulado</a></li>
            <li><a href="">Lista de Discipulado</a></li>
            <li><a href="">Editar Discipulado</a></li>
          </ul>
         </div>
      </li>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>
