<div class="container">
  <form>

    <div class="grid">
      <div class="col-12">
        <h1>Novo Discipulado</h1>
      </div>

      <div class="col-6 col-3 p-fluid">
        <label>Data de nascimento</label>
        <input pInputText type="text">
      </div>
      <div class="col-12 col-9 p-fluid">
        <label>Nome</label>
        <input pInputText type="text">
      </div>
      <div class="col-12 col-3 p-fluid">
        <label>Endereço</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="col-12 col-6 p-fluid">
        <label>Tipo de interesse</label>
        <input pInputText type="text">
      </div>
      <div class="col-12 col-6 p-fluid">
        <label>Tipo de atendimento</label>
        <input pInputText type="text">
      </div>
      <div class="col-12 col-3 p-fluid">
        <label>Telefone</label>
        <input pInputText type="text" placeholder="0,00">
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
